.container{
    width: 700px;
    height: 450px;
    
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    border-radius: 10px;
     background-color: #ecf0f3;;
    background-size: cover;
    
}
.htag{
    text-align: center;
    padding: 60px;
    color: black;
    background-position: center;

}
.input-element{
    width: 90%;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 15px;
    height: 25px;
    border-radius: 10px;
    padding-right: 5px;
    color: darkgreen;
    padding-left: 10px;

}
.cb{
    margin-left: 18px;
}
.anc{
    text-align: center;
    margin-bottom: 50px;
    text-decoration: none;
    color:black /* সাধারণ অবস্থায় রঙ */

}
